
<!-- Main content Start -->
<div class="main-content">
  <!-- Breadcrumbs Start -->
  <div class="rs-breadcrumbs sec-spacer sec-color">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs-inner">
            <h1 class="page-title">About Our Company</h1>
            <ul>
              <li>
                <a class="active" href="index.html">Home</a>
              </li>
              <li>About Our Company</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- Accordion Start -->
  <section class="rs-about-3 pt-100 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="sec-title">
            <h4>Welcome To bStart</h4>
            <h3>Best Calls For Tender Spaace</h3>
          </div>
          <p class="about-desc">
            "bStart tenders" is a platform that informs you instantly and according to your needs of tender notices, consultations, auction. . . It will then make you benefit from a daily alert service by email and mobile notifications.
            We have developed a system for putting online real-time ads, an advanced search system and on-site filtering by type, advertiser and region.</p>
          <p class="about-desc">
            bStart is much more than an application, it allows you to benefit from a certain competitive advantage, to discover new business opportunities in Tunisia, to optimize your chances of winning new markets and to access the business world via a simple click from your smartphone, pc or tablet.
            When traveling or at home, at the restaurant or at work, do not miss any business opportunity on the Tunisian market! Our network will allow you to find and get new business and to live new experiences.</p>
        </div>
        <div class="col-md-5 mpt-20">
          <!-- panel start -->
          <div class="panel-group mb-0" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Our History</a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>25 YEARS OF SUCCESS</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Our Mission</a>
                </h4>
              </div>
              <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                  <p> TAKING YOUR BUSINESS TO THE NEXT LEVEL! </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Our Vision</a>
                </h4>
              </div>
              <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>FAST SIMPLE EFFICIENT </p>
                </div>
              </div>
            </div>
          </div>
          <!-- panel end -->
        </div>
      </div>
    </div>
  </section>
  <!-- Accordion Us End -->

  <!-- Counter Up Section Start Here-->
  <div class="counter-top-area gap-50 pt-100 pb-100">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="rs-count">
          <!-- COUNTER-LIST START -->
          <div class="col-md-3 col-sm-6  wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms">
            <div class="rs-counter-list">
              <i data-icon="W" class="icon"></i>
              <h3 class="rs-counter">{{this.nbUsers}}</h3>
              <h4>Total Client </h4>
            </div>
          </div>
          <!-- COUNTER-LIST END -->

          <!-- COUNTER-LIST START -->
          <div class="col-md-3 col-sm-6  wow fadeInUp" data-wow-duration=".7s" data-wow-delay="300ms">
            <div class="rs-counter-list">
              <i data-icon="&#xe011;" class="icon"></i>
              <h3 class="rs-counter">{{this.nbPublications}}</h3>
              <h4>Total Publications</h4>
            </div>
          </div>
          <!-- COUNTER-LIST END -->

          <!-- COUNTER-LIST START -->
          <div class="col-md-3 col-sm-6  wow fadeInUp" data-wow-duration=".9s" data-wow-delay="300ms">
            <div class="rs-counter-list">
              <i data-icon="1" class="icon"></i>
              <h3 class="rs-counter">{{this.nbMessages}}</h3>
              <h4>Total Messages</h4>
            </div>
          </div>
          <!-- COUNTER-LIST END -->

          <!-- COUNTER-LIST START -->
          <div class="col-md-3 col-sm-6  wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="300ms">
            <div class="rs-counter-list">
              <i data-icon="&#xe001;" class="icon"></i>
              <h3 class="rs-counter">{{this.nbComments}}</h3>
              <h4 class="last">Total Comments</h4>
            </div>
          </div>
          <!-- COUNTER-LIST END -->
        </div>
      </div>
    </div>
  </div>
  <!-- Counter Down Section End Here-->



  <!-- About Us Start -->
  <section id="rs-about" class="rs-about pt-100 pb-100">

  </section>
  <!-- About Us End -->

</div>
<!-- Main content End -->

