<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs sec-spacer sec-color">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumbs-inner">
          <h1 class="page-title">Register </h1>
          <ul>
            <li>
              <a class="active" href="index.html">Home</a>
            </li>
            <li>Register</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs End -->

<div class="comment-form rs-contact">
  <h1 class="comment-title">register</h1>
  <div class="contact-form">
    <form id="contact-form" method="post" >
      <div class="row">
        <div class="col-md-6">
          <div class="form-field">
            <i class="fa fa-address-book-o"></i>
            <input type="text" placeholder="First Name" id="FirstName" name="FirstName" [(ngModel)]="nom"  [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-field">
            <i class="fa fa-map-marker"></i>
            <input type="text" placeholder="Adress" id="adress" name="adress" [(ngModel)]="adress"  [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-field">
            <i class="fa fa-address-book-o"></i>
            <input type="text" placeholder="Last Name" id="LastName" name="LastName" [(ngModel)]="prenom"   [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-field">

            <i class="fa fa-institution"></i>
            <input type="text" placeholder="Your Company" id="company" name="company" [(ngModel)]="company"  [ngModelOptions]="{standalone: true}"required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-field">
            <i class="fa fa-envelope-o"></i>
            <input type="email" placeholder="E-Mail" id="email" name="email" [(ngModel)]="email"  [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-field">
            <i class="fa fa-briefcase"></i>
            <input type="text" placeholder="Position" id="position" name="position" [(ngModel)]="position"  [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-field">
            <i class="fa fa-phone"></i>
            <input type="text" placeholder="Phone Number" id="phone_number" name="phone_number" [(ngModel)]="phonenb"  [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-field">

            <i class="fa fa-industry"></i>
            <input type="text" placeholder="Sector" id="sector" name="sector" [(ngModel)]="sector"  [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>

        <div class="col-md-6">
        <div class="form-field">
          <i class="fa fa-file-photo-o"></i>
          <input type="file" placeholder="Proof: Add Your Idendity Picture" id="proof" name="proof" [(ngModel)]="proof"  [ngModelOptions]="{standalone: true}"required>
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-field">

            <i class="fa fa-lock"></i>
            <input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="password"  [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
      </div>

      <div class="form-button">
        <button type="submit" class="readon" (click)="addUser(email,nom,prenom,company,position,sector,adress,phonenb,proof,password)" [(ngModel)]="proof"  [ngModelOptions]="{standalone: true}">SUBMIT NOW</button>
      </div>
    </form>
  </div>
</div>
