<!-- Main content Start -->
<div class="main-content">
  <!-- Breadcrumbs Start -->
  <div class="rs-breadcrumbs sec-spacer sec-color">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs-inner">
            <h1 class="page-title">Blog</h1>
            <ul>
              <li>
                <a class="active" routerLink="">Home</a>
              </li>
              <li>Blog</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->


  <select name="categoryname" [ngModelOptions]="{standalone: true}"  [(ngModel)]="term">
    <option *ngFor="let c of category " >{{c.payload.val().categoryname}}</option>
  </select>
  <pagination-controls (pageChange)="p =$event"></pagination-controls>
  <!-- Blog Start -->
  <section id="rs-blog" class="rs-blog pt-100 pb-100">
    <div class="container">
      <div class="row">
        <!-- début cart -->
        <div class="col-md-4 col-sm-6" *ngFor="let p of publications|  paginate :{  itemsPerPage: 3, currentPage: p}| pub : term">
          <div class="blog-item">
            <div class="blog-img">
              <img src="{{p.payload.val().url}}" alt="Blog Image" style="height:500px; width:400px  ">
              <div class="blog-img-content">
                <div class="display-table">
                  <div class="display-table-cell">
                    <a class="blog-link" routerLink="/blogdetail/{{p.key}}" title="Blog Title">
                      <i class="fa fa-link"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-meta">
              <div class="blog-date">
             <p>Added On: {{p.payload.val().addedOn}}</p>
                <p>Expire On: {{p.payload.val().expiredOn}}</p>

              </div>

            </div>
            <div class="blog-desc">
              <a >CATEGORY: {{p.payload.val().categoryname}}</a>
              <a routerLink="/blogdetail">{{p.payload.val().title}}</a>

              <p>{{p.payload.val().description}}</p>
            </div>
          </div>
          <div class="rs-payment-system">
            <div *ngIf="p.payload.val().keyuser === this.userKey">
            <input class="btn-send" type="submit" value="Delet It!" (click)="deleteFileUpload(p.key)"  >
            </div>
            <!--modale-->
            <div class="col-sm-6 col-md-3 m-t-30">
              <div class="text-center">
                <!-- Large modal -->
                <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg" *ngIf="p.payload.val().keyuser === this.userKey"  (click)="update(p.key,p.payload.val().title,p.payload.val().expiredOn,p.payload.val().description,p.payload.val().categoryname)">Update It!</button>
              </div>


              <!--  Modal content for the above example -->
              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title mt-0" id="myLargeModalLabel"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                      <!-- update-->
                      <div class="form-group row">
                        <div class="col-12">
                          <input class="form-control" type="text" required="" placeholder="Title" [(ngModel)]="title">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-12">
                          <input class="form-control" type="text" required="" placeholder="Expire On"  [(ngModel)]="expiredOn">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-12">
                          <input class="form-control" type="text" required="" placeholder="Description" [(ngModel)]="description">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-12">
                          <input class="form-control" type="text" required="" placeholder="Category" [(ngModel)]="categoryname">
                        </div>
                      </div>

                      <div class="form-group text-center row m-t-20" >
                        <div class="col-12">
                          <button class="btn btn-info btn-block waves-effect waves-light" type="submit"  data-dismiss="modal" (click)=" upDatePublication(key,title,expiredOn,description, categoryname)">UPDATE</button>
                        </div>
                      </div>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
            </div>
          </div>
        </div>
        <!-- fin cart -->
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
  </section>
  <!-- Blog End -->

</div>
