
<!-- Main content Start -->
<div class="main-content">
  <!-- Breadcrumbs Start -->
  <div class="rs-breadcrumbs sec-spacer sec-color">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="breadcrumbs-inner">
            <h1 class="page-title">Contact</h1>
            <ul>
              <li>
                <a class="active" routerLink="">Home</a>
              </li>
              <li>Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->

 <div>
   <br><br><br><br> <br><br><br><br> <br><br> <br><br> <br><br>
 </div>

  <!-- Contact Start -->
  <section id="rs-contact" class="rs-contact gray-color pb-100">
    <div class="container" *ngFor="let c of contact">
      <div class="row">
        <div class="contact-bg">
          <div class="margin col-md-5">
            <div class="contact-address">
              <div class="contact-address-title">
                <p class="contact-title">How To Reach Us!</p>
                <p>For More Information Youn Can Contact Us! </p>
              </div>
              <div class="address-item">
                <div class="address-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="address-text">
                 {{c.payload.val().ophone}}
                </div>
              </div>
              <div class="address-item">
                <div class="address-icon">
                  <i class="fa fa-envelope-open-o"></i>
                </div>
                <div class="address-text">
                  {{c.payload.val().oemail}}
                </div>
              </div>
              <div class="address-item">
                <div class="address-icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="address-text">
               {{c.payload.val().oadress}}
                </div>
              </div>
              <div class="social-icon-bottom">
                <ul>
                  <li>
                    <a ><i class="fa fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a ><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a ><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a ><i class="fa fa-pinterest"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="margin col-md-7">
            <div class="contact-form">
              <div class="contact-form-title">
                <p class="contact-title">Quick Contact</p>
              </div>
              <div id="form-messages"></div>
              <form id="contact-form" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-field">
                      <i class="fa fa-address-book-o"></i>
                      <input type="text" placeholder="First Name" id="nom" name="nom" required [(ngModel)]="nom">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-field">
                      <i class="fa fa-address-book-o"></i>
                      <input type="text" placeholder="Last Name" id="prenom" name="prenom" required [(ngModel)]="prenom">
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-field">
                      <i class="fa fa-phone"></i>
                      <input type="text" placeholder="Phone Number" id="phone_number" name="phone_number" required [(ngModel)]="phone">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-field">
                      <i class="fa fa-envelope-o"></i>
                      <input type="email" placeholder="E-Mail" id="email" name="email" required [(ngModel)]="email">
                    </div>
                  </div>
                </div>
                <div class="form-field">
                  <textarea placeholder="Your Message Here" rows="7" id="message" name="message" required [(ngModel)]="message"></textarea>
                </div>
                <div class="form-button">
                  <button type="submit" class="readon" (click)="addMessage(nom, prenom, email, phone, message)">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact End -->
</div>
