
<!-- Main content Start -->
<div class="main-content">
  <!-- Slider Start -->
  <div id="rs-slider" class="rs-slider">
    <div class="bend niceties">
      <div id="nivoSlider" class="slides">

        <img src="assets/images/slider/slide_2.jpg" alt="" title="#slide-2" />
      </div>
      <!-- Slide 1 -->
      <div id="slide-1" class="slider-direction">
        <div class="display-table">
          <div class="display-table-cell">
            <div class="container">
              <div class="slider-des">
                <h1 class="sl-title">
                  <span class="white-color">Business Solutions</span>
                  Get Your Business Consultant</h1>
                <div class="sl-desc">
                  Multipurpose Crative business Template The site’s content is divided out work from home, budgeting & coupons
                </div>
              </div>
              <div class="slider-botton">
                <ul>
                  <li class="mr-25"><a href="#" class="readon border white-btn">Read More</a></li>
                  <li><a href="#" class="readon border white-color">CONTACT US</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide 2 -->
      <div id="slide-2" class="slider-direction">
        <div class="display-table">
          <div class="display-table-cell">
            <div class="container">
              <div class="slider-des">
                <h1 class="sl-title">
                  <span class="white-color">Business Solutions</span>
                  Get Your Business Consultant</h1>
                <div class="sl-desc">
                  Multipurpose Crative business Template The site’s content is divided out work from home, budgeting & coupons
                </div>
              </div>
              <div class="slider-botton">
                <ul>
                  <li class="mr-25"><a href="#" class="readon border white-btn">Read More</a></li>
                  <li><a href="#" class="readon border white-color">CONTACT US</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider End -->

  <!-- Calltoaction Start -->
  <div id="rs-cta" class="rs-cta primary-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="cta-content">
            <h3>bStart</h3>
            <p>
              We Take Your Business To The Next Level.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="cta-button text-right">
            <a routerLink="/form" class="readon border white">JOIN US NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Calltoaction End -->

  <!-- HOW WE WORK Start -->
  <div class="how-we-work defult-style gray-color pt-100 pb-70">
    <div class="container">
      <div class="work-sec-gallery">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="work-column">
              <div class="common-box">
                <img src="assets/images/work/1.jpg" alt="">
              </div>
              <div class="work-gallery-caption">
                <h4><a href="#">
                  Tired Of Following The Newspapers</a></h4>
                <p>
                  YOU ARE SAVED! The Solution Exists <BR>
                  Register On Our Platform
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="work-column">
              <div class="common-box">
                <img src="assets/images/work/2.jpg" alt="">
              </div>
              <div class="work-gallery-caption">
                <h4><a href="#">Business Development</a></h4>
                <p>
                  This Will Help You Increase Your Chances And Get More Markets
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 hidden-sm">
            <div class="work-column">
              <div class="common-box">
                <img src="assets/images/work/3.jpg" alt="">
              </div>
              <div class="work-gallery-caption">
                <h4><a href="#">Your Assist Is Our Business</a></h4>
                <p>

                  New Opportunities And Success.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- HOW WE WORK END -->

  <!-- Services Start -->
  <section id="rs-services" class="rs-services-3 pt-100 pb-70">
    <div class="container">
      <div class="row rs-vertical-middle">
        <div class="col-md-4">
          <div class="service-title mpb-40">
            <h3>bStart<br>
              Best Calls For Tender Space
              <br>

            </h3>
            <p>bStart is much more than an application, it allows you to benefit from a certain competitive advantage, to discover new business opportunities in Tunisia, to optimize your chances of winning new markets and to access the business world via a simple click from your smartphone, pc or tablet</p>
            <a routerLink="/services" class="readon">View Services</a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <!-- 1st -->
            <div class="col-md-6 col-sm-6">
              <div class="common">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="icon">
                      <i data-icon="&#xe001;" class="icon"></i>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="text">
                      <a href="services-details.html"><h4>Tenders and consultancy notices</h4></a>
                      <p>access to all tender and consultancy notices issued by the public and private sectors in Tunisia.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 2nd -->
            <div class="col-md-6 col-sm-6">
              <div class="common">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="icon">
                      <i data-icon="%" class="icon"></i>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="text">
                      <a href="services-details.html"><h4>Free publicity <br><br></h4></a>
                      <p>your logo and your site will be installed on the bandwidth of our platform
                        they will be visible to thousands of visitors daily</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 3rd -->
            <div class="col-md-6 col-sm-6">
              <div class="common">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="icon">
                      <i data-icon="&#xe026;" class="icon"></i>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="text">
                      <a href="services-details.html"><h4>Up to date</h4></a>
                      <p>alerts in your mailbox,<br> on your mobile by notifification..<br><br></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="common">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="icon">
                      <i data-icon="/" class="icon"></i>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="text">
                      <a href="services-details.html"><h4>Free register</h4></a>
                      <p>you can register for free on our site and download our application on your mobile.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 5th -->
          </div>
        </div>
      </div>
      <!-- 4th -->

    </div>
  </section>
  <!-- Services End -->


  <!-- Counter Up Section Start Here-->
  <div class="counter-top-area gap-50 pt-100 pb-100">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="rs-count">
          <!-- COUNTER-LIST START -->
          <div class="col-md-3 col-sm-6  wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms">
            <div class="rs-counter-list">
              <i data-icon="W" class="icon"></i>
              <h3 class="rs-counter">{{this.nbUsers}}</h3>
              <h4>Total Client </h4>
            </div>
          </div>
          <!-- COUNTER-LIST END -->

          <!-- COUNTER-LIST START -->
          <div class="col-md-3 col-sm-6  wow fadeInUp" data-wow-duration=".7s" data-wow-delay="300ms">
            <div class="rs-counter-list">
              <i data-icon="&#xe011;" class="icon"></i>
              <h3 class="rs-counter">{{this.nbPublications}}</h3>
              <h4>Total Publications</h4>
            </div>
          </div>
          <!-- COUNTER-LIST END -->

          <!-- COUNTER-LIST START -->
          <div class="col-md-3 col-sm-6  wow fadeInUp" data-wow-duration=".9s" data-wow-delay="300ms">
            <div class="rs-counter-list">
              <i data-icon="1" class="icon"></i>
              <h3 class="rs-counter">{{this.nbMessages}}</h3>
              <h4>Total Messages</h4>
            </div>
          </div>
          <!-- COUNTER-LIST END -->

          <!-- COUNTER-LIST START -->
          <div class="col-md-3 col-sm-6  wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="300ms">
            <div class="rs-counter-list">
              <i data-icon="&#xe001;" class="icon"></i>
              <h3 class="rs-counter">{{this.nbComments}}</h3>
              <h4 class="last">Total Comments</h4>
            </div>
          </div>
          <!-- COUNTER-LIST END -->
        </div>
      </div>
    </div>
  </div>
  <!-- Counter Down Section End Here-->


  <!-- Partner Start -->
  <div id="rs-defult-partner" class="rs-defult-partner gray-color pt-100 pb-100">
    <div class="container">
      <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="30" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="true" data-mobile-device-dots="false" data-ipad-device="3" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="5" data-md-device-nav="true" data-md-device-dots="false">
        <div class="partner-item">
          <a ><img src="assets/images/partner/1.png" alt="Partner Image"></a>
        </div>
        <div class="partner-item">
          <a><img src="assets/images/partner/2.png" alt="Partner Image"></a>
        </div>
        <div class="partner-item">
          <a ><img src="assets/images/partner/3.png" alt="Partner Image"></a>
        </div>
        <div class="partner-item">
          <a ><img src="assets/images/partner/4.png" alt="Partner Image"></a>
        </div>
        <div class="partner-item">
          <a ><img src="assets/images/partner/5.png" alt="Partner Image"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Partner End -->


</div>
