
<!-- Erro 404 Page Start Here -->
<div class="rs-error-page">
  <div class="error-part">
    <div class="error-text">
      <div class="error-logo">
        <img src="assets/images/logo-2.png" alt="">
      </div>
      <h1 class="error-code">404</h1>
      <p class="error-message">Component not found.</p>
      <a routerLink="" title="HOME"><i class="fa fa-chevron-left"></i> Go Back Home</a>
    </div>
  </div>
</div>
<!-- Erro 404 Page End Here -->

