<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer">
  <div class="footer-top">
    <div class="container" *ngFor="let c of contact">
      <div class="row">
        <div class="col-md-6">
          <div class="about-widget">
            <img src="assets/images/logo-2.png" alt="Footer Logo">
            <p>bStart is much more than an application, it allows you to benefit from a certain competitive advantage, to discover new business opportunities in Tunisia, to optimize your chances of winning new markets and to access the business world via a simple click from your smartphone, pc or tablet.  </p>
            <ul class="footer-address">
              <li><i class="fa fa-phone"></i><a> {{c.payload.val().ophone}}</a></li>
              <li><i class="fa fa-envelope-o"></i><a > {{c.payload.val().oemail}} </a></li>
              <li><i class="fa fa-dribbble"></i><a >{{c.payload.val().oweb}}</a></li>
              <li><i class="	fa fa-map"></i><a >{{c.payload.val().oadress}}.</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <h5 class="footer-title">OUR SITEMAP</h5>
          <ul class="sitemap-widget">
            <li class="active"><a routerLink="home">Home Page</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="copyright">
            <p>&copy; 2018 <a href="#">bStart</a>. All Rights Reserved.</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="text-right ft-bottom-right">
            <div class="footer-bottom-share">
              <ul>
                <li><a ><i class="fa fa-facebook"></i></a></li>
                <li><a ><i class="fa fa-twitter"></i></a></li>
                <li><a ><i class="fa fa-google-plus"></i></a></li>
                <li><a ><i class="fa fa-pinterest-p"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
