

<!-- Main content Start -->
<div class="main-content">
  <!-- Breadcrumbs Start -->
  <div class="rs-breadcrumbs sec-spacer sec-color">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="breadcrumbs-inner">
            <h1 class="page-title">Services</h1>
            <ul>
              <li>
                <a class="active" href="index.html">Home</a>
              </li>
              <li>Services</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- Services Start -->
  <section id="rs-services" class="rs-services-3 pt-100 pb-70 services-pages sec-spacer">
    <div class="container">
      <div class="row">

        <!-- 1st -->
        <div class="col-md-4 col-sm-6" class="row-4" *ngFor="let s of service|  paginate :{  itemsPerPage: 3, currentPage: p}">
          <div class="common">
            <div class="row">
              <div class="col-sm-3">
                <div class="icon">
                  <i data-icon="u" class="icon"></i>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="text">
                  <h4>{{s.payload.val().serviceTitle}}</h4>
                  <p>{{s.payload.val().serviceDetail}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls (pageChange)="p =$event"></pagination-controls>
      </div>
    </div>
  </section>
  <!-- Services End -->

  <!-- Partner Start -->
  <div id="rs-defult-partner" class="rs-defult-partner gray-color pt-100 pb-100">
    <div class="container">
      <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="30" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="true" data-mobile-device-dots="false" data-ipad-device="3" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="5" data-md-device-nav="true" data-md-device-dots="false">
        <div class="partner-item">
          <a href="#"><img src="images/partner/1.png" alt="Partner Image"></a>
        </div>
        <div class="partner-item">
          <a href="#"><img src="images/partner/2.png" alt="Partner Image"></a>
        </div>
        <div class="partner-item">
          <a href="#"><img src="images/partner/3.png" alt="Partner Image"></a>
        </div>
        <div class="partner-item">
          <a href="#"><img src="images/partner/4.png" alt="Partner Image"></a>
        </div>
        <div class="partner-item">
          <a href="#"><img src="images/partner/5.png" alt="Partner Image"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Partner End -->
</div>
<!-- Main content End -->

