<!-- Main content Start -->
<div class="main-content">
  <!-- Breadcrumbs Start -->
  <div class="rs-breadcrumbs sec-spacer sec-color">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs-inner">
            <h1 class="page-title">Blog Details</h1>
            <ul>
              <li>
                <a class="active" href="index.html">Home</a>
              </li>
              <li>Blog Details</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- Blog Detail Start -->
  <div class="rs-blog-details pt-100 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div >
            <img src="{{this.url}}" height="200" width="400">

          </div>
          <h4 class="bs-title">{{this.title}}</h4>
          <div class="bs-info">
            <ul class="bs-meta">
              <li><i class="fa fa-clock-o"></i><span> Added On : {{this.addedOn}}</span></li>
              <li><i class="fa fa-clock-o"></i><span> Expire On : {{this.expiredOn}}</span></li>
              <li><i class="fa fa-user"></i><a href="#"> Advertiser:{{this.nom}} {{this.prenom}}</a></li>
              <li><i class="fa fa-folder-open-o"></i><a href="#"> Company : {{this.company}}</a></li>
            </ul>
            <ul class="bs-meta">
              <li><i class="fa fa-envelope"></i><span> Email : {{this.email}}</span></li>
              <li><i class="fa fa-phone" ></i><span> Phone : {{this.phonenb}}</span></li>

            </ul>
          </div>
          <div class="bs-desc">
            <p></p>
            <span class="blockquote">{{this.description}}.</span>

          </div>



          <div class="comment-block">


          </div>
        </div>
        <div class="col-md-3">
          <div class="bs-sidebar">




          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog Detail End -->
</div>
