<!--Header Start-->
<header id="rs-header">
  <!-- Toolbar Start -->
  <div class="toolbar-area hidden-sm hidden-xs">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-sm-7 col-xs-12">
          <div class="toolbar-contact" *ngFor="let c of contact">
            <ul>
              <li><i class="fa fa-phone"></i><a >{{c.payload.val().ophone}}</a></li>

              <li><i class="fa fa-envelope-o"></i><a >{{c.payload.val().oemail}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-sm-5 col-xs-12">
          <div class="toolbar-sl-share">
            <ul>
              <li class="follow">Follow us</li>
              <li><a ><i class="fa fa-facebook"></i></a></li>
              <li><a ><i class="fa fa-twitter"></i></a></li>
              <li><a ><i class="fa fa-rss"></i></a></li>
              <li><a ><i class="fa fa-pinterest-p"></i></a></li>
              <li><a ><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Toolbar End -->

  <!-- Header Menu Start -->
  <div class="menu-area rs-defult-header menu-sticky">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <div class="logo-area">
            <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="main-menu">
            <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
            <nav class="rs-menu">
              <ul class="nav-menu">
                <!-- Home -->
                <li class="current-menu-item current_page_item menu-item-has-children">
                  <a routerLink="">Home</a>

                </li>
                <!-- End Home -->
                <li class="menu-item-has-children"><a routerLink="/about">About Us</a>

                </li>
                <li class="menu-item-has-children"><a routerLink="/services">Services</a>

                </li>
                <li class="menu-item-has-children" *ngIf="state" ><a routerLink="/blog">Posts</a>

                </li>
                <li class="menu-item-has-children"><a routerLink="/testimonial">Testimonial</a>

                </li>
                <li> <a routerLink="/contact">Contact</a> </li>
              </ul>
            </nav>
          </div>

          <div class="appointment-cart hidden-sm hidden-xs">
          <ul class="cart" >
            <li *ngIf="!state"><button routerLink="/form" >Register</button></li>
            <li *ngIf="!state" ><button routerLink="/sign"   >Sign In</button></li>
          </ul>
            <ul class="cart" >
              <li *ngIf="state"><button (click)="logOut()"   >Sign Out</button></li>
              <li *ngIf="state"><button routerLink="/upload">Publish your Ad</button></li>
            </ul>
        </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Header Menu End -->
</header>
<!--Header End-->
