<!-- Main content Start -->
<div class="main-content">
  <!-- Breadcrumbs Start -->
  <div class="rs-breadcrumbs sec-spacer sec-color">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="breadcrumbs-inner">
            <h1 class="page-title">Testimonial</h1>
            <ul>
              <li>
                <a class="active" href="index.html">Home</a>
              </li>
              <li>Testimonial</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->


  <div class="col-sm-6 col-md-3 m-t-30"  >
    <div class="text-center">
      <!-- Large modal -->
      <div *ngIf="this.state">
      <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg"  >Add A comment Here!!</button>
      </div>

    </div>


    <!--  Modal content for the above example -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mt-0" id="myLargeModalLabel">Add A Comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            <h3>Comment:</h3>
            <textarea type="text" placeholder="Write Your Comment here..." rows="4" cols="100" name=""comment [(ngModel)]="comment"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"  required="" (click)="addComment(nom, prenom, company, position, comment)" data-dismiss="modal">Comment</button>

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

















  <!-- Services Section Start -->
  <div class="our-hostory-section pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">

          <!-- Testimonials Section Start Here -->
          <ul class="rs-testimonial-section rs-testimonial-page mpt-20">
            <li class="testi-item">
              <div class="row" *ngFor="let c of comments|  paginate :{ id:'anid', itemsPerPage: 3, currentPage: p} ">
                <div class="col-sm-2">
                  <div class="item-img">
                    <img src="assets/images/user.jpg" alt="">
                  </div>
                  <br><br><br>
                </div>
                <div class="col-sm-10">
                  <div class="item-detail">
                    <p>
                      <sup>
                        <i class="fa fa-quote-left"></i>
                      </sup>
                      {{c.payload.val().comment}}
                    </p>
                  </div>
                  <div class="title">
                   {{c.payload.val().nom}} {{c.payload.val().prenom}}
                  </div>
                  <div class="designation">
                    {{c.payload.val().position}} in {{c.payload.val().company}}
                  </div>
                  <div class="stars">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star-o animated infinite jello"></i></li>
                    </ul>
                  </div>

                </div>
                <div *ngIf="c.payload.val().keyuser === this.userKey">
                  <input class="btn-send" type="submit" value="Delet It!" (click)="delet(c.key)"  >
                </div>
              </div>

            </li>


          </ul>
          <pagination-controls id="anid"(pageChange)="p =$event"></pagination-controls>
          <div class="text-center pagination-testimonial">




          </div>
        </div>
        <div class="col-sm-4">
          <!-- Testimonials Section Start Here -->
        <h3>Thank You For Trusting Us!</h3>

          <div class="how-we-work defult-style gray-color pt-100 pb-70">
            <div class="container"  *ngFor="let l of logo   |  paginate :{ id: 'foo', itemsPerPage: 3, currentPage: p } ">
              <div class="work-sec-gallery" >
                <div class="row" >
                  <div class="col-md-4 col-sm-4"  >
                    <div class="work-column" >
                      <div class="common-box" >
                        <img src="{{l.payload.val().url}}" style="height: 100px; width: 100px" alt="">
                      </div>
                      <div class="work-gallery-caption">
                        <h4><a>{{l.payload.val().company}}</a></h4>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <pagination-controls  id="foo" (pageChange)="p =$event"></pagination-controls>
          </div>

          <div class="text-center pagination-testimonial">




          </div>
        </div>
        <!-- Testimonials Section end Here -->
      </div>
    </div>
  </div>
</div>
<!-- Services Section End -->
<!-- Main content End -->
