
<!-- Main content Start -->
<div class="main-content">
  <!-- Breadcrumbs Start -->
  <div class="rs-breadcrumbs sec-spacer sec-color">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs-inner">
            <h1 class="page-title">Publish Your Add </h1>
            <ul>
              <li>
                <a class="active" href="index.html">Home</a>
              </li>
              <li>publish your add</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
  <br>
  <h3>How to deposit a free ad on bStartTenders:</h3>
  <p>Post a free ad to have a consultation on bStart it's quick and easy.
    Fill the form of your ad: title, price, description, address, photos ... <br>
    Indicate your contact information: name, phone number and full address. <br>
    If the description of your ad is not complete the publication will be REFUSED.</p>


  <div class="col-md-8">
  <h4 class="title-bg">Select A category</h4>
<select name="categoryname" [(ngModel)]="categoryname"  [ngModelOptions]="{standalone: true}" >
  <option *ngFor="let c of category " >{{c.payload.val().categoryname}}</option>
</select>
  </div>

  <!-- News Section Start Here-->
  <div class="rs-check-out sec-spacer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="title-bg">Ad Description</h4>
          <div class="check-out-box">
            <form id="contact-form" method="post">
              <fieldset>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>First Name*</label>
                      <input id="fname" name="nom" class="form-control" type="text" [(ngModel)]="nom"  [ngModelOptions]="{standalone: true}" required>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Last Name*</label>
                      <input name="prenom" class="form-control" type="text" [(ngModel)]="prenom"  [ngModelOptions]="{standalone: true}" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Company</label>
                      <input name="company" class="form-control" type="text" [(ngModel)]="company"  [ngModelOptions]="{standalone: true}" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Email*</label>
                      <input id="email" name="email" class="form-control" type="email" [(ngModel)]="email"  [ngModelOptions]="{standalone: true}"required>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label>Phone*</label>
                      <input name="subject" class="form-control" type="text" [(ngModel)]="phonenb"  [ngModelOptions]="{standalone: true}" required>
                    </div>
                  </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Title</label>
                      <input name="title" class="form-control" type="text" [(ngModel)]="title"  [ngModelOptions]="{standalone: true}" required >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Expiration date:</label>
                      <input  name="expireOn" class="form-control" type="date" [(ngModel)]="expiredOn"  [ngModelOptions]="{standalone: true}" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>date of the announcement: </label>
                      <input name="addedOn" class="form-control" type="date" [(ngModel)]="addedOn"  [ngModelOptions]="{standalone: true}" required>
                    </div>
                  </div>
                </div>
                <div class="form-field">
                  <textarea placeholder="Your Description Here" rows="7" cols="140" id="message" name="description"[(ngModel)]="description"  [ngModelOptions]="{standalone: true}" required></textarea>
                </div>

              </fieldset>
            </form>
          </div>


        </div>
        <div class="col-md-6">
          <div class="form-field">
            <i class="fa fa-file-photo-o"></i>
            <input type="file"  id="file" name="file" (change)="selectFile($event)">
          </div>
        </div>

        <div class="rs-payment-system">

          <input class="btn-send" type="submit" value="Publish" (click)="upload(categoryname,nom, prenom,company,email,phonenb,title,expiredOn,addedOn,description)" >

        </div>


      </div>
    </div>
  </div>
  <!-- News Section End Here-->

</div>

