<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs sec-spacer sec-color">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumbs-inner">
          <h1 class="page-title">Sign In </h1>
          <ul>
            <li>
              <a class="active" href="index.html">Home</a>
            </li>
            <li>Sign In</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs End -->
<div class="comment-form rs-contact">
  <h1 class="comment-title">Sign In Now</h1>
  <div class="contact-form">
    <form id="contact-form" method="post" >
      <div class="row">
        <div class="col-md-6">
          <div class="form-field">
            <i class="fa fa-envelope-o"></i>
            <input type="email" placeholder="E-Mail" id="email" name="email" [(ngModel)]="email"  [ngModelOptions]="{standalone: true}"  required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-field">
            <i class="fa fa-key"></i>
            <input type="password" placeholder="Passwod" id="passwod" name="password" [(ngModel)]="password"  [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>

      </div>


      <div class="form-button">
        <button type="submit" class="readon" (click)="login(email,password)">SUBMIT NOW</button>
      </div>
    </form>
  </div>
</div>
